---
import Layout from './layouts/Layout.astro';
---

<Layout>
	<main class="flex h-svh max-w-[400px] flex-col justify-center mx-auto">
		<div
			class="prose prose-sm dark:prose-invert prose-h1:font-bold prose-p:mb-2 space-y-4"
		>
			<h1>Welcome to Astro!</h1>
			<p>This blog is a minimal Astro boilerplate with:</p>
			<ul class="list-disc pl-5">
				<li>Tailwind CSS</li>
				<li>TypeScript</li>
				<li>Supabase SSR</li>
				<li>Supabase Auth</li>
				<li>Node</li>
			</ul>
		</div>
	</main>
</Layout>
