---
import '../styles/global.css';
---

<html lang="en" data-theme="winter">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro & Supabase SSR</title>
	</head>
	<body>
		<main class="flex h-svh max-w-[400px] flex-col justify-center mx-auto">
			<div
				class="prose prose-sm dark:prose-invert prose-h1:font-bold prose-p:mb-2 space-y-4"
			>
				<slot />
			</div>
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
